<nav class='nav-bar'>
  <div class='nav-component'><a href='timeline'>Home</a></div>
  <div class='nav-component'>
    <h1 class='active'>Post View</h1>
  </div>
  <div class='nav-component'><a href='editor'>Add Post</a></div>
  <div class='nav-component'><a href='profile'>Profile</a></div>
</nav>

<header class="post-header">
  <div class="post-header-component fourth">
    <img src="../public/images/profile.png" class='single-post-image' />
  </div>
  <div class="post-header-component fourth">
    <h1>{{title}}</h1>
    <p>{{post.date}}</p>
    <p>{{post.latitude}}, {{post.longitude}}</p>
  </div>
  <div class="post-header-component half">
  </div>
</header>
<div class="single-post-description">
  <h2 class="single-post-description-title">Description
    <h2/>
    <p class="single-post-description-text">{{post.body}}
    <strong class="single-post-author">-- {{post.username}}</strong>
</div>
<div class="single-post-tag-container">
  <h2 class="single-post-tag-title">Tag</h2>
  <img src="../public/images/urban.png" class="icon single-post-tag-image" />
</div>
<footer class='app-footer'>
  <p>Copyright, Mountain Rangers 2016. All rights reserved.</p>
</footer>
