<!-- Navigation -->
{{> navbar id=profile.id}}

<!-- user about section -->
<header class='profile-header'>
  <div class='profile-user-photo half'>
    <img src='{{profile.photo_url}}' alt="User Profile Photo" class='profile-img' />
  </div>
  <div class='profile-user-info half'>
    <h1 class='profile-name'>{{profile.username}}</h1>
    <p class='member-since'>Member since: {{profile.date_created}}</p>
    <p class='profile-blurb'>{{profile.personal_info}}</p>
  </div>
</header>

<!-- 1st row */ -->
{{#each post}}
<div class='hike'>
  <h1>{{title}}</h1>
  <img src='{{profile.photo_url}}' />
  <p>{{latitude}}, {{longitude}}</p>
</div>
{{/each}}

<footer class='app-footer'>
  <p>Copyright, Mountain Rangers 2016. All rights reserved.</p>
</footer>
