<!-- navigation -->
<nav class='nav-bar'>
  <div class='nav-component third'><a href='/timeline/{{profile.id}}'>Home</a></div>
  <div class='nav-component third'><a href='/editor/{{profile.id}}'>Add Post</a></div>
  <div class='nav-component third'><a href='/settings/{{profile.id}}'>Settings</a></div>
</nav>

<!-- user about section -->
<header class='profile-header'>
  <div class='profile-user-photo half'>
    <img src='{{profile.photo_url}}' alt="User Profile Photo" class='profile-img' />
  </div>
  <div class='profile-user-info half'>
    <h1 class='profile-name'>{{profile.username}}</h1>
    <p class='member-since'>Member since: {{profile.date_created}}</p>
    <p class='profile-blurb'>{{profile.personal_info}}</p>
  </div>
</header>


<!-- 1st row */ -->
<div class='hike'></div>
<div class='hike'></div>
<div class='hike'></div>
<!-- 2nd row */ -->
<div class='hike'></div>
<div class='hike'></div>
<div class='hike'></div>
<!-- 3rd row */ -->
<div class='hike'></div>
<div class='hike'></div>
<div class='hike'></div>

<footer class='app-footer'>
  <p>Copyright, Mountain Rangers 2016. All rights reserved.</p>
</footer>
