<!-- Navigation -->
{{> navbar }}

<!-- Filter bar  visible-->
<div id='filter-bar' class='filter'>
  <div class='filter-components'>
    <p class='filter-component half filter-call'>Filter by category</p>
    <button class='down-arrow filter-component half'>
      <img src='/images/down_arrow.png' class='icon' />
    </button>
  </div>

  <!-- Filter bar hidden -->
  <div id='filter-drop-down' class='hidden drop-down'>
    <div class='tag-icon'><img src='/images/gem.png' class='icon'/></div>
    <div class='tag-icon'><img src='/images/gem.png' class='icon'/></div>
    <div class='tag-icon'><img src='/images/gem.png' class='icon'/></div>
    <div class='tag-icon'><img src='/images/gem.png' class='icon'/></div>
    <div class='tag-icon'><img src='/images/gem.png' class='icon'/></div>
    <div class='tag-icon'><img src='/images/gem.png' class='icon'/></div>
  </div>
</div>

<!-- Beginning of timeline feed -->
<div class='time-line'>

  <!-- add a post button -->
  <!-- <div class='add-post'>
    <button class='create-post'>
      <a href='/editor'>
        <img src='/images/post.png' class='icon'/>
      </a>
    </button>
  </div> -->

  <!-- sample post # 1 -->
  <!-- <div id="timeline-posts">

  </div> -->
  {{#each post}}
  <article class='post'>
    <div class='tl-user-info third'>
      <img class='profile-img-placeholder' src='{{photo_url}}' alt='User Profile Photo'>
      <p class='tl-user-name'>{{username}}</p>
    </div>
    <div class='tl-hike-info third'>
      <h1 class='tl-hike-name'>{{title}}</h1>
      <p class='tl-hike-location'>{{latitude}}, {{longitude}}</p>
    </div>
    <div class='tl-tag third'>
      <img src='/images/gem.png' class='icon'/>
    </div>
  </article>
  {{/each}}

</div>  <!-- End of timeline feature -->

<!-- Footer -->
<footer class='app-footer'>
  <p>Copyright, Mountain Rangers 2016. All rights reserved.</p>
</footer>

<script src="/javascripts/timeline.js" type="text/javascript">
</script>
